# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Game/.vs/Game/project-colors.json
Game/.vs/Game/v17/.suo
Game/.vs/Game/v17/Browse.VC.db
Game/.vs/Game/v17/Browse.VC.db-shm
Game/.vs/Game/v17/Browse.VC.db-wal
Game/.vs/Game/v17/Browse.VC.opendb
Game/.vs/Game/v17/ipch/e60ed51a6abc93fc.ipch
Game/.vs/Game/v17/Solution.VC.db
Game/.vs/Game/v17/Solution.VC.db-shm
Game/.vs/Game/v17/Solution.VC.db-wal
Game/.vs/ProjectSettings.json
Game/.vs/slnx.sqlite
Game/.vs/VSWorkspaceState.json
Game/.vs/Game/project-colors.json
Game/.vs/Game/v17/.suo
Game/.vs/Game/v17/Browse.VC.db
*.json
*.db
*.ipch
*.recipe
*.ilk
*.log
*.tlog
Game/Client/x64/Debug/Client.exe.recipe
Game/Client/x64/Debug/Client.ilk
Game/Client/x64/Debug/Client.log
Game/Client/x64/Debug/Client.tlog/CL.command.1.tlog
Game/Client/x64/Debug/Client.tlog/CL.read.1.tlog
Game/Client/x64/Debug/Client.tlog/CL.write.1.tlog
Game/Client/x64/Debug/Client.tlog/Client.lastbuildstate
Game/Client/x64/Debug/Client.tlog/link.command.1.tlog
Game/Client/x64/Debug/Client.tlog/link.read.1.tlog
Game/Client/x64/Debug/Client.tlog/link.write.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.command.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.read.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.write.1.tlog
Game/Client/x64/Debug/vc143.idb
Game/Client/x64/Debug/vc143.pdb
*.json
Game/.vs/Game/v17/.suo
*.db
Game/Output/Client.pdb
Game/Output/d3dx12.h
Game/Output/Engine.exp
Game/Output/Engine.h
Game/Output/Engine.pdb
Game/Output/EnginePch.h
Game/Engine/x64/Debug/vc143.pdb
Game/Engine/x64/Debug/vc143.idb
Game/Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
Game/Engine/x64/Debug/Engine.tlog/link.write.1.tlog
Game/Engine/x64/Debug/Engine.tlog/link.read.1.tlog
Game/Engine/x64/Debug/Engine.tlog/link.command.1.tlog
Game/Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Game/Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Game/Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Game/Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Game/Engine/x64/Debug/Engine.log
Game/Engine/x64/Debug/Engine.ilk
Game/Engine/x64/Debug/Engine.dll.recipe
Game/Client/x64/Debug/vc143.pdb
Game/Client/x64/Debug/vc143.idb
Game/Client/x64/Debug/Client.tlog/rc.write.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.read.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.command.1.tlog
Game/Client/x64/Debug/Client.tlog/link.write.1.tlog
Game/Client/x64/Debug/Client.tlog/link.read.1.tlog
Game/Client/x64/Debug/Client.tlog/link.command.1.tlog
Game/Client/x64/Debug/Client.tlog/Client.lastbuildstate
Game/Client/x64/Debug/Client.tlog/CL.write.1.tlog
Game/Client/x64/Debug/Client.tlog/CL.read.1.tlog
Game/Client/x64/Debug/Client.tlog/CL.command.1.tlog
Game/Client/x64/Debug/Client.log
Game/Client/x64/Debug/Client.ilk
Game/Client/x64/Debug/Client.exe.recipe
Game/.vs/Game/v17/Browse.VC.db
Game/.vs/Game/v17/.suo
Game/.vs/Game/project-colors.json
